In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import torch
import torch.nn as nn

In [4]:
df = pd.read_csv('../data/02_processed/churn_data_modeling.csv')
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14605 entries, 0 to 14604
Data columns (total 54 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unnamed: 0                      14605 non-null  int64
 1   id                              14605 non-null  object
 2   channel_sales                   14605 non-null  object
 3   cons_12m                        14605 non-null  int64
 4   cons_gas_12m                    14605 non-null  int64
 5   cons_last_month                 14605 non-null  int64
 6   date_activ                      14605 non-null  object
 7   date_end                        14605 non-null  object
 8   date_modif_prod                 14605 non-null  object
 9   date_renewal                    14605 non-null  object
 10  forecast_cons_12m               14605 non-null  float64
 11  forecast_cons_year              14605 non-null  int64
 12  forecast_discount_energy        14605 non-null  float64
 13  forecast_meter_rent_12m         14605 non-null  float64
 14  forecast_price_energy_off_peak  14605 non-null  float64
 15  forecast_price_energy_peak      14605 non-null  float64
 16  forecast_price_pow_off_peak     14605 non-null  float64
 17  has_gas                         14605 non-null  object
 18  imp_cons                        14605 non-null  float64
 19  margin_gross_pow_ele            14605 non-null  float64
 20  margin_net_pow_ele              14605 non-null  float64
 21  nb_prod_act                     14605 non-null  int64
 22  net_margin                      14605 non-null  float64
 23  num_years_antig                 14605 non-null  int64
 24  origin_up                       14605 non-null  object
 25  pow_max                         14605 non-null  float64
 26  mean_year_price_off_peak_var_x  14605 non-null  float64
 27  mean_year_price_peak_var_x      14605 non-null  float64
 28  mean_year_price_mid_peak_var_x  14605 non-null  float64
 29  mean_year_price_off_peak_fix_x  14605 non-null  float64
 30  mean_year_price_peak_fix_x      14605 non-null  float64
 31  mean_year_price_mid_peak_fix_x  14605 non-null  float64
 32  mean_year_price_off_peak_x      14605 non-null  float64
 33  mean_year_price_peak_x          14605 non-null  float64
 34  mean_year_price_med_peak_x      14605 non-null  float64
 35  mean_year_price_off_peak_var_y  14605 non-null  float64
 36  mean_year_price_peak_var_y      14605 non-null  float64
 37  mean_year_price_mid_peak_var_y  14605 non-null  float64
 38  mean_year_price_off_peak_fix_y  14605 non-null  float64
 39  mean_year_price_peak_fix_y      14605 non-null  float64
 40  mean_year_price_mid_peak_fix_y  14605 non-null  float64
 41  mean_year_price_off_peak_y      14605 non-null  float64
 42  mean_year_price_peak_y          14605 non-null  float64
 43  mean_year_price_med_peak_y      14605 non-null  float64
 44  mean_year_price_off_peak_var    14605 non-null  float64
 45  mean_year_price_peak_var        14605 non-null  float64
 46  mean_year_price_mid_peak_var    14605 non-null  float64
 47  mean_year_price_off_peak_fix    14605 non-null  float64
 48  mean_year_price_peak_fix        14605 non-null  float64
 49  mean_year_price_mid_peak_fix    14605 non-null  float64
 50  mean_year_price_off_peak        14605 non-null  float64
 51  mean_year_price_peak            14605 non-null  float64
 52  mean_year_price_med_peak        14605 non-null  float64
 53  churn                           14605 non-null  int64
dtypes: float64(38), int64(8), object(8)
memory usage: 6.0+ MB

In [7]:
df.head()

,Unnamed: 0,id,channel_sales,cons_12m,cons_gas_12m,cons_last_month,date_activ,date_end,date_modif_prod,date_renewal,...,mean_year_price_off_peak_var,mean_year_price_peak_var,mean_year_price_mid_peak_var,mean_year_price_off_peak_fix,mean_year_price_peak_fix,mean_year_price_mid_peak_fix,mean_year_price_off_peak,mean_year_price_peak,mean_year_price_med_peak,churn
0,0,24011ae4ebbe3035111d65fa7c15bc57,foosdfpfkusacimwkcsosbicdxkicaua,0,54946,0,2013-06-15,2016-06-15,2015-11-01,2015-06-23,...,0.131756,0.092638,0.036909,42.497907,12.218665,8.145777,42.629663,12.311304,8.182687,1
1,1,d29c2c54acc38ff3c0614d0a653813dd,MISSING,4660,0,0,2009-08-21,2016-08-30,2009-08-21,2015-08-31,...,0.147600,0.000000,0.000000,44.444710,0.000000,0.000000,44.592310,0.000000,0.000000,0
2,2,764c75f661154dac3a6c254cd082ea7d,foosdfpfkusacimwkcsosbicdxkicaua,544,0,0,2010-04-16,2016-04-16,2010-04-16,2015-04-17,...,0.167798,0.088409,0.000000,44.444710,0.000000,0.000000,44.612508,0.088409,0.000000,0
3,3,bba03439a292a1e166f80264c16191cb,lmkebamcaaclubfxadlmueccxoimlema,1584,0,0,2010-03-30,2016-03-30,2010-03-30,2015-03-31,...,0.148586,0.000000,0.000000,44.444710,0.000000,0.000000,44.593296,0.000000,0.000000,0
4,4,149d57cf92fc41cf94415803a877cb4b,MISSING,4425,0,526,2010-01-13,2016-03-07,2010-01-13,2015-03-09,...,0.119906,0.101673,0.073719,40.728885,24.437330,16.291555,40.848791,24.539003,16.365274,0

In [5]:
X = df.drop('churn', axis=1).to_numpy()
y = df['churn'].to_numpy()
X.shape, y.shape

((14605, 53), (14605,))

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
X_train, X_test, y_train, y_test = train_test_split(X, y)

X_scaler = StandardScaler()
X_train_scaled = X_scaler.fit_transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [8]:
categoric_df = df.select_dtypes(include='object')
categoric_df

,id,channel_sales,date_activ,date_end,date_modif_prod,date_renewal,has_gas,origin_up
0,24011ae4ebbe3035111d65fa7c15bc57,foosdfpfkusacimwkcsosbicdxkicaua,2013-06-15,2016-06-15,2015-11-01,2015-06-23,t,lxidpiddsbxsbosboudacockeimpuepw
1,d29c2c54acc38ff3c0614d0a653813dd,MISSING,2009-08-21,2016-08-30,2009-08-21,2015-08-31,f,kamkkxfxxuwbdslkwifmmcsiusiuosws
2,764c75f661154dac3a6c254cd082ea7d,foosdfpfkusacimwkcsosbicdxkicaua,2010-04-16,2016-04-16,2010-04-16,2015-04-17,f,kamkkxfxxuwbdslkwifmmcsiusiuosws
3,bba03439a292a1e166f80264c16191cb,lmkebamcaaclubfxadlmueccxoimlema,2010-03-30,2016-03-30,2010-03-30,2015-03-31,f,kamkkxfxxuwbdslkwifmmcsiusiuosws
4,149d57cf92fc41cf94415803a877cb4b,MISSING,2010-01-13,2016-03-07,2010-01-13,2015-03-09,f,kamkkxfxxuwbdslkwifmmcsiusiuosws
...,...,...,...,...,...,...,...,...
14600,18463073fb097fc0ac5d3e040f356987,foosdfpfkusacimwkcsosbicdxkicaua,2012-05-24,2016-05-08,2015-05-08,2014-05-26,t,lxidpiddsbxsbosboudacockeimpuepw
14601,d0a6f71671571ed83b2645d23af6de00,foosdfpfkusacimwkcsosbicdxkicaua,2012-08-27,2016-08-27,2012-08-27,2015-08-28,f,lxidpiddsbxsbosboudacockeimpuepw
14602,10e6828ddd62cbcf687cb74928c4c2d2,foosdfpfkusacimwkcsosbicdxkicaua,2012-02-08,2016-02-07,2012-02-08,2015-02-09,f,lxidpiddsbxsbosboudacockeimpuepw
14603,1cf20fd6206d7678d5bcafd28c53b4db,foosdfpfkusacimwkcsosbicdxkicaua,2012-08-30,2016-08-30,2012-08-30,2015-08-31,f,lxidpiddsbxsbosboudacockeimpuepw
14604,563dde550fd624d7352f3de77c0cdfcd,MISSING,2009-12-18,2016-12-17,2009-12-18,2015-12-21,f,ldkssxwpmemidmecebumciepifcamkci

In [ ]:
from catboost import Pool, CatBoostClassifier
# 데이터 Pool 작업
cat_features = ['gender','region','membership_type']
train_pool = Pool(X_train, y_train, cat_features=cat_features)
test_pool = Pool(X_test, y_test, cat_features=cat_features)

model = CatBoostClassifier(
    random_state=0,
    iterations=1000,   # 반복횟수
    learning_rate=0.1,
    eval_metric='Accuracy',
    verbose=10
)
model.fit(train_pool, eval_set=test_pool)

# 모델 평가
print(f'학습 Acc: {model.score(X_train, y_train)}')
print(f'평가 Acc: {model.score(X_test, y_test)}')